@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E0E7FF; /* neo-bg */
  color: #121212;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar yang rapi */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5471FF;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
